html {
  text-align: center;
  background-color:9EF8D3;
}
.center {
  margin-left:auto;
  margin-right:auto;
}
#flea{
    height: 240;
    width: 480;
}
#snow{
    height: 240;
    width: 480;
}
.food_chain{
    height: 250;
    width: auto;
}

